{% extends "layout.html" %}

{% block title %} Cart {% endblock %}

{% block main %}

    <div class="container p-3 justify-content-center">

        {% if subtotal == 0 %}
        <hr>    
        <h5>Cart is Empty</h5>
        
        
        {% else %}
        <table class="table">
            <thead>
            <tr>
                
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
            <tr>
                <td>{{prices[item][1]}}</td>
                <td>{{cart[item]}}</td>
                <td>${{prices[item][0]}}</td>
                <td>${{cart[item] * prices[item][0]}}</td>
            </tr>
            {% endfor %}
            
            <tr>
                <th></th>
                <th></th>
                <td>Sales Tax(7%):</td>
                <td>${{tax}}</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>Total:</th>
                <th>${{ "%.2f"|format(tax + subtotal) }}</th>
            </tr>
            
            </tbody>
        </table>
        
        <form action='/cart' method='POST'>
            <button type="submit" class="btn btn-secondary btn-lg">Place Order</button>
        </form>
        {% endif %}
    
    </div>

{% endblock %}