{% extends 'layout.html' %}

{% block title %} Gift Cards {% endblock %}

{% block main%}
    
        <div class="cardsContainer p-5 mx-auto">
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic8.webp" alt="gift card $25">
            
        </div>
        <div class=" giftcard">
  
            <img src="static/imgs/giftcard_pic2.webp" alt="gift card $50">

        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic7.webp" alt="gift card $100">
            
        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic9.webp" alt="gift card custom amount">
            
        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic4.webp" alt="gift card custom amount">
            
        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic5.webp" alt="gift card custom amount">
            
        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic6.webp" alt="gift card custom amount">
            
        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic3.webp" alt="gift card custom amount">
            
        </div>
        <div class=" giftcard">
            <img src="static/imgs/giftcard_pic1.webp" alt="gift card custom amount">
            
        </div>
{% endblock %}